*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/bin/
/temp/
/site/maskreybe/images/book/
/site/maskreybe/WEB-INF/classes/
/site/maskreybe/WEB-INF/lib/

.tmp
.zip
.classpath
.docx
.lnk
updates.md5
commons-io-2.4.jar
normailze.txt
